# dependencies
/node_modules/

# build
/dist/
/build/

# Vite cache
/.vitepress/cache/
/.vite/

# environment variables
.env*
!.env.example

# system files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# Optional: testing output
/coverage/

# Optional: local development overrides
*.local.*
